.wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 24px;
}

.background {
  position: absolute;
  inset: -20%;
  background-image: url('/images/thorne-parallax.jpg');
  background-size: cover;
  background-position: center;
  will-change: transform;
  transition: transform 0.05s linear;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 420px;
  width: 100%;
  height: auto;
}
